# exclude everything
/*

# only include project files
!/.npmignore
!/*.md
!/plugin.xml
!/package.json
!/www
!/android
/android/*
!/android/logtofile.gradle
!/android/BackgroundGeolocation
/android/BackgroundGeolocation/*
!/android/BackgroundGeolocation/src
!/android/CDVBackgroundGeolocation
/android/CDVBackgroundGeolocation/*
!/android/CDVBackgroundGeolocation/src
!/ios
/ios/*
!/ios/common
!/ios/CDVBackgroundGeolocation
!/LICENSE
